{% extends 'defaultLayout.html' %} 
 
{% block title %}
Редактировать профиль
{% endblock title %}
 
{% block abracadabra %}
<h1> Редактировать профль</h1>
<a href="{% url 'wow_members:change_password' %}">Сменить пароль</a>
<p>{{ user.profile.bio }}</p>
<img src="{{ user.profile.profile_pic.url }}" width="100" class="img-thumbnail" alt="">
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Обновить профиль</button>
    </form>
</div>
{% endblock abracadabra %}