{% extends 'defaultLayout.html' %} 
 
{% block title %}
Профиль
{% endblock title %}
 
{% block abracadabra %}

<h2>Поиск по откликам</h2>
<form method="GET">
{{ filter.form }} 
<div class="col-auto">
                <button type="submit" class="btn btn-primary">Найти</button>
              </div>
              </form>


{% for response in filter.qs %}
<div class="row g-4 py-5 row-cols-1">
    <div class="col d-flex align-items-start">           
        <div>
            <h5 class="card-title">{{ response.title }}</h5> 
            <p>Инфа пользователя оставившего отклик:{{ response.responseUser}}</p>
            <p>Текст отклика:{{ response.text}}</p>
            <p>Дата отклика:{{ response.dateCreation}}</p>       
            <a href="{% url 'wow_members:approve_response' response.id %}">Принять</a>     
            <a href="{% url 'wow_members:reject_response' response.id %}">Отклонить</a>     
        </div>
    </div>  
</div>
{% empty %}
   Нет откликов
{% endfor %}

{% comment %} 
<div class="profile card-deck mb-3 text-center">
{% for advert in adverts %}
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h5 class="card-title">{{ advert.title }}</h5> 
             <a href="{% url 'wow_adv:edit_adv' advert.id %}" class="btn btn-outline-primary btn-sm">                
                Редактировать</a>
            <a href="{% url 'wow_adv:remove_adv' advert.id %}" class="btn btn-outline-danger btn-sm">
                Удалить</a>      
            <a href = "{% url 'news:category_unsubscribe' cat.id %}" class="btn btn-dark stretched-link">Отписаться</a>
        </div>
    </div>   
{% empty %}
   Нет объявлений
{% endfor %}
 </div> {% endcomment %}

{% endblock abracadabra %}