<div class="divider"></div>
<section class="subscribe">
    <div class="subscribe-bg"></div>
    <div class="subscribe-content">
        <div class="space-lg"></div>
        <div class="container">
        <div class="header-divider">
          <h3>Подпишитесь на наши новости</h3>
        </div>
        <div class="description"> Будьте всегда в курсе последних новостей, предложений и товаров на нашем портале.</div>
        <div class="space-md"></div>
        <div class="d-flex justify-content-center">
          <form action="{% url 'wow_adv:subscribe' %}" method="POST" class="row g-3">
              {% csrf_token %}
              <div class="col-auto">
                <input type="text" name="name" placeholder="Имя" class="form-control">
              </div>
              <div class="col-auto">
                 <input type="email" name="email" placeholder="Email" class="form-control">
              </div>
              <div class="col-auto">
               <button type="submit" class="btn btn-primary mb-3">Подписаться</button>
              </div>
          </form>
          <div class="space-hg"></div>
        </div>
      </div>
    </div>
</section>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
      <div class="space-md"></div>
      <div class="lang-chooser"> <a href="" class="disabled">Русский (RU)</a></div>
      <div class="logo">
        <img src="static/img/footer-logo.png" alt="">
      </div>
      <div class="top-links">
       <div class="link"><a href="">Карьера</a></div>
       <div class="link"><a href="">О нас</a></div>
       <div class="link"><a href="">Поддержка</a></div>
       <div class="link"><a href="">Контакты</a></div>
     </div>
    <div class="download-app">
        <a href="">Скачать приложение для настольного компьютера</a>
    </div>
    <div class="trademark">
      ©2023 OOO Wow Adv.
    </div>
    <div class="bottom-links">
      <div class="link">
        <a href="">
          Политика приватности</a>
      </div>
      <div class="link">
        <a href="">Условия использования</a>
      </div>
      <div class="link">
        <a href="">
          политика использования куки</a>
      </div>
      <div class="link">
        <a href="">
          Настройки</a>
      </div>
      <div class="link">
        <a href="">
          Политика приватности</a>
      </div>
    </div>
    <div class="space-lg"></div>
  </div>
</footer>