
{% load static %}
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
      <div class="space-md"></div>
      <div class="lang-chooser"> <a href="" class="disabled">Русский (RU)</a></div>
      <div class="logo">
        <img src="{% static 'img/footer-logo.png' %}" alt="">
      </div>
      <div class="top-links">
       <div class="link"><a href="">Карьера</a></div>
       <div class="link"><a href="">О нас</a></div>
       <div class="link"><a href="">Поддержка</a></div>
       <div class="link"><a href="">Контакты</a></div>
     </div>
    <div class="download-app">
        <a href="">Скачать приложение для настольного компьютера</a>
    </div>
    <div class="trademark">
      ©2023 OOO Wow Adv.
    </div>
    <div class="bottom-links">
      <div class="link">
        <a href="">
          Политика приватности</a>
      </div>
      <div class="link">
        <a href="">Условия использования</a>
      </div>
      <div class="link">
        <a href="">
          политика использования куки</a>
      </div>
      <div class="link">
        <a href="">
          Настройки</a>
      </div>
      <div class="link">
        <a href="">
          Политика приватности</a>
      </div>
    </div>
    <div class="space-lg"></div>
  </div>
</footer>