{% extends 'defaultLayout.html' %} 
{% load static %}

{% block title %}
    Объявления
{% endblock title %}

{% comment %} TODO: вывести текущую дату, пагинацию {% endcomment %}
{% block abracadabra %}
    <a href="{% url 'wow_adv:create_adv' %}" class="btn btn-success">
        Добавить объявление</a> 
    {% if user.is_authenticated %}
        {% comment %} <a href="{% url 'wow_members:profile' user.id %}" class="btn-link"><span class="d-inline">Привет, {{ user.username }}</span></a> {% endcomment %}
        <a href="{% url 'logout' %}" class="btn btn-link">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-link">Войти</a>
    {% endif %}
          <a href="{% url 'signup' %}" class="btn btn-link">signup</a>
    {% for adv in object_list %}
        <div>
            <h2><a href="{% url 'wow_adv:adv_detail' adv.id %}" >{{ adv.title }}</a></h2>
            <p>{{ adv.body|slice:":150"|safe }}</p>
            <p>Автор: {{ adv.author }}</p>
            <p>Категория: {{ adv.get_category_display }}</p>
            <p>Откликов: {{ adv.responses.count}}</p>
             <a href="{% url 'wow_adv:edit_adv' adv.id %}" class="btn btn-outline-primary btn-sm">                
                Редактировать</a>
            <a href="{% url 'wow_adv:remove_adv' adv.id %}" class="btn btn-outline-danger btn-sm">
                Удалить</a>
        </div>
    {% endfor %}
{% endblock abracadabra %}
