{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock title %}</title>
    {% bootstrap_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <link rel="stylesheet"  type="text/css" href="{% static 'styles/general.css' %}" />
    {% block page_styles %}{% endblock page_styles %}
    <link type="image/x-icon" rel="icon" href="{% static 'img/favicon.ico' %}" />
    
</head>
<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
   <div class="container">     
        {% comment %} {% include "includes/header.html" %} {% endcomment %}
   
        {% block abracadabra %}
        
        {% endblock abracadabra %}
    </div>
  </main> 
     {% comment %} {% include "includes/footer.html" %} {% endcomment %}
  </body>
</html>