<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оповещение</title>
</head>
<body>
    <h1>Оповещение о {% if response.isApproved %}принятии{% else %}отклонении{% endif %}  вашего отлкика</h1>
    <p>Приветствую,<strong>{{ user.username}}</strong></p>
    <dl>
        <dt> Ваш отклик принят автором</dt>
       <dd> .... имя автора бы</dd>
    </dl>
    
</body>
</html>